html {
  background-color: black;  
 
 }

body,html{
  height: 100%;
  margin: 0px;
 }
body {
 font-family: arial;
 font-size: 20px; 
 color: white; 
 text-align: center;
 
}
.background {
  background-image: url("wallpaperflare.com_wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
h1 {
 font-size: 35px;
 color: red;   
}
p {
  width: 75%;
  display: inline-block; 
  text-align: left;
}
#button1 {
  display: inline-block;  
}

.encodeMsg {
  display: inline-block;
  width: 45%;
  text-align: left;
  box-shadow: 0 4px 8px black;
  
}


.decodeMsg {
  display: inline-block;
  width: 45%;
  text-align: right;
  box-shadow: 0 4px 8px black;
  vertical-align: top;
  
}
#button2{
  display: inline-block;
}
p.finalMsg1 {
  text-align: center;
}