html {
  background-color: black;  
 
 }

body,html{
  height: 100%;
  margin: 0px;
 }
body {
 font-family: arial;
 font-size: 18px; 
 color: white; 
 text-align: center;
 
}
.background {
  background-image: url("earth-space-view-4k-62.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
h1 {
 font-size: 35px;
 color: white; 
 text-align: center;
 margin-right: 70%;
 margin-top: 0%;
 font-family: corbel;
}
p {
  width: 75%;
  display: inline-block; 
  text-align: left;
}

.textArea {
  background-color: #231a3e00;
  color: white;
  display: inline-block;
}

.userMessage {
  display: inline-block;
  text-align: left;
  margin-left: 5%;
  position: absolute;
  left: 98px;
  bottom: 86px;
}

.result {
  text-align: left;
  text-align: left;
  position: absolute;
  right: 60px;
  bottom: 130px;
}

.button {
  display: inline-block;
  border: solid 1px white;
  background-color:  #231a3e00;
  color: white;
  cursor: pointer;
  font-family: corbel;
  font-size: 14px;
  border-radius: 8%;
}